html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
/* Basic */

*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
input,
select,
textarea {
  color: #7c8081;
  font-family: 'Georgia', serif;
  /* font-size: 15pt; */
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
}
a {
  color: #A0001E;
  text-decoration: none;
}
p,
ul,
ol,
dl,
table,
blockquote {
  margin: 0 0 2em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
  border: 0;
}
h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}
h3 {
  font-size: 1.15em;
  letter-spacing: 0.025em;
}
body {
  background: #F3F6FA;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  color: inherit;
  cursor: default;
  font-size: 0.8em;
  left: 0;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  align-items: center;
}
#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#header #logo {
  position: relative;
  font-size: 2.5em;
  margin-top: 15px;
  color: #A0001E;
  margin-left: 5%;
}
#header #nav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-right: 5%;
}
#header li {
  margin: 0 10px;
  margin-top: 10%;
}
#header .button {
  display: flex;
}
#banner {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  width: 100%;
  text-align: center;
  background: #A0001E;
  color: black;
  height: 500px;
  padding: 25px;
  z-index: 100000;
}
#banner .button {
  border: solid 2px rgb(252, 217, 152);
  padding: 2% 4%;
  color: white;
}
#banner .button:hover {
  background-color: white;
  color: orangered;
}
#banner #menu-icon {
  display: flex;
  justify-content: left;
  position: relative;
  width: 100%;
  filter: invert(100%);
  text-decoration: none;
  display: none;
}
#banner #menu-icon img {
  margin-left: 15px;
  margin-top: 15px;
}
#main-content,
#bottom-content {
  display: flex;
  justify-content: center;
}
#main-content p,
#bottom-content p {
  background-color: orangered;
  color: black;
  padding: 5%;
  padding-top: 3%;
  text-align: center;
  margin-bottom: 0.5%;
}
#main-content {
  width: 100%;
  flex-wrap: wrap;
}
#main-content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#main-content p img {
  width: 10%;
  margin-bottom: 30px;
}
@media (min-width: 500px) {
  #main-content p {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  #main-content p {
    width: 49%;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
  }
}

#bottom-content p {
  background: #83d3ca;
  color: white;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
}
header h1 {
  margin-bottom: 0.5em;
  padding: 40px 0;
  font-size: 50px;
  margin-top: 90px;
  line-height: 1em;
}
header .jumbo {
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  margin-bottom: 0.3em;
  margin-top: 65px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  overflow: hidden;
  z-index: -5000000;
  object-fit: cover;
}
.fullscreen-video-wrap video {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  z-index: -500000;
  overflow: hidden;
}
.alt {
  z-index: 1000001;
}
#menu-icon-close {
  display: flex;
  justify-content: left;
  position: relative;
  width: 25px;
  display: none;
}

footer {
  background-color:#202020;
  text-align: center;
  width: 100%;
  line-height: 1;
}

footer h2 {
  margin-top: 20px;
   font-size: 2.5rem;
   color: orangered;
 }

 
footer nav {
  display: flex;
  justify-content:center;
  width: 100%;
}
footer nav a {
  margin: 5px 35px;
  color: #A0001E;
  font-size: 1.0rem;
}

footer p {
  text-align: center;
  color: white;
  font-size: 1.25rem;
  padding: 20px;
}

.foot{
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.main-navigation {
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  margin-top: 0;
}
.main-navigation .nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Less */



